body {
  background: linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  );
  margin: 0;
  padding: 0;
}

#navItem {
  display: flex;
  list-style: none;
  gap: 10px;
  font-weight: bolder;
  justify-content: center;
  padding: 30px;
  border: 2px solid red;
  margin: 0;
}

#container1 {
  display: flex;
  justify-content: center;
  height: 70vh;
  border: 2px solid red;
}

footer {
  display: flex;
  border: 2px solid red;
  justify-content: center;
  padding: 13.8px;
}

#footerItem{
  list-style: none;
}
